g.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.y.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}

.line.Ai {
  stroke: orange;
}

.line.Lo {
  stroke: darkorange;
}

.line.Predator {
  stroke: salmon;
  opacity: .8;
  stroke-width: 2px;
}

.line.Prey {
  stroke: slateblue;
  opacity: .6;
  stroke-width: 2px;
}
circle.graph-point.Predator {
  fill: salmon;
}
circle.graph-point.Prey {
  fill: slateblue;
}

.line.Phase {
  stroke: purple;
  stroke-width: 3px;
}

circle.graph-point {
  fill: steelblue;
}
