<!-- KaTeX -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js"></script>
<script type="text/javascript">
  var tex = document.getElementsByClassName("equation");
  Array.prototype.forEach.call(tex, function(el) {
    katex.render(el.getAttribute("data-expr"), el);
  });
  Array.prototype.forEach.call(document.getElementsByTagName("katex"), function(e) {
    console.log(e.innerHTML);
    katex.render(e.innerHTML, e);
  })
  Array.prototype.forEach.call(document.getElementsByTagName("katex-display"), function(e) {
    console.log(e.textContent);
    katex.render(e.textContent, e, {displayMode: true});
  })
</script>
